@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,800;1,500&display=swap");


// Global variables
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
}

$blue:#2B2A65;
$lightBlue:#5B5D88;
$black: #0a0a0a;
$iconsblue:#64B5F6;
$green:#27AE60;
$arrow:#25B7D3;
$gray: #e5e5e5;
$white:#ffffff;
$orange: #FFA34D;
$darkgray: #c4c4c4;

h4{
    font-size:1.1rem;
}
//main styling rules
body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.dashboard {
    height: 100vh;
    max-height: 100vh;
    background-color: $gray;
    justify-content: center;
    align-items: center;
    position: relative;

    header {
        display: flex;
        z-index: 2;
        justify-content: space-between;
        background-color: $white;
        width: 100vw;
        left: 0;
        top: 0;
        position: fixed;
        padding: 10px;
        font-weight: 600;
        align-items: center;
        box-shadow: 0px 0px 4px rgba(119, 119, 119, 0.25);
        border-radius: 0px 0px 10px 10px;

        .icons {
            i {
                padding: 5px;
                margin: 5px;
                font-size: 1.5rem;
                cursor: pointer;
                color: #2196F3;

                &:nth-child(3) {
                    color: initial;
                }
            }

        }
    }

    .side {
        background-color: $white;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $gray;
        top: 8rem;
        left: 0;
        color: #777777;
        padding: 20px;
        width: 6vw;
        bottom: 0;
        box-shadow: 0px 0px 4px rgba(119, 119, 119, 0.25);
        border-radius: 0px 10px 10px 0px;

        i {
            margin: 2rem 1rem;
            cursor: pointer;
            font-size: 2rem;
            // width: max-content;

            &:nth-child(1) {
                color: $arrow;
            }
        }
    }

    .main {
        top: 5rem;
        position: relative;
        display: flex;
        width: 93%;
        float: right;
        flex-direction: column;
        align-items: center;
        right: 10px;
        padding: 20px;


        .top-menu {
            display: flex;
            justify-content: space-evenly;
            width: 100%;

            >* {
                height: 80px;
                width: 25%;
                display: flex;
                margin: 0px 10px;
                padding: 20px;
                justify-content: space-between;
                align-items: center;
                box-shadow: 0px 2px 4px rgba(119, 119, 119, 0.25);
                border-radius: 5px;

                &:nth-child(1) {
                    background: $arrow;
                }

                &:nth-child(2) {
                    background: $green;
                }

                &:nth-child(3) {
                    background: $orange;
                }

                &:nth-child(4) {
                    background: $darkgray;
                }

                i,
                .ico {
                    border-radius: 50%;
                    padding: 10px;
                    border: 1px solid $lightBlue;
                    color: inherit;
                }
            }

            .ico {
                height: 45px;
            }
        }

        .content {
            display: flex;
            width: 100%;
            justify-content: space-between;

            >* {
                margin:  10px;
                position: relative;
            }

            .charts {
                width: 70%;

                .chart {
                    background-color: $white;
                    border-radius: 10px;
                }
                .pag{
                    display: flex;
                    position: absolute;
                    right: 0;
                    >*{
                        background-color: $white;
                        font-size: .7rem;
                        padding: 3px 7px;
                        font-weight: normal;
                        border: 1px solid $gray;
                    }
                }
            }

            .card-container {
                width: 30%;
                background-color: $white;
                border-radius: 10px;
                padding: 20px;
                font-weight: bold;

                .card {
                    display: flex;
                    align-items: center;
                    position: relative;
                    border: none;
                    border-radius: inherit;
                    border: 1px solid $white;
                    overflow-x: hidden;
                    box-shadow: 0px 0px 4px rgba(119, 119, 119, 0.25);

                    .top-right {
                        position: absolute;
                        top: 0;
                        width: 100;
                        right: 0;
                    }

                    .bottom-left {
                        position: absolute;
                        bottom: 0;
                        width: 100;
                        left: 0;
                    }

                    .dp {
                        margin: 5rem auto;
                    }

                    .master {
                        justify-content: right;
                        display: flex;
                        width: 100%;
                        padding: 10px;
                    }
                }
            }
        }
    }
}