@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,800;1,500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.dashboard {
  height: 100vh;
  max-height: 100vh;
  background-color: #e5e5e5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.dashboard header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  width: 100vw;
  left: 0;
  top: 0;
  position: fixed;
  padding: 10px;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 4px rgba(119, 119, 119, 0.25);
          box-shadow: 0px 0px 4px rgba(119, 119, 119, 0.25);
  border-radius: 0px 0px 10px 10px;
}

.dashboard header .icons i {
  padding: 5px;
  margin: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #2196F3;
}

.dashboard header .icons i:nth-child(3) {
  color: initial;
}

.dashboard .sidebar {
  background-color: #ffffff;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e5e5e5;
  top: 6rem;
  left: 0;
  color: #777777;
  padding: 10px;
  width: 5vw;
  -webkit-box-shadow: 0px 0px 4px rgba(119, 119, 119, 0.25);
          box-shadow: 0px 0px 4px rgba(119, 119, 119, 0.25);
  border-radius: 0px 10px 10px 0px;
}

.dashboard .sidebar i {
  margin: 2rem 1rem;
  cursor: pointer;
  font-size: 2rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.dashboard .sidebar i:nth-child(1) {
  color: #25B7D3;
}

.dashboard .main {
  top: 5rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  float: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 10px;
  padding: 20px;
}

.dashboard .main .top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.dashboard .main .top-menu > * {
  height: 88px;
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
  padding: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 4px rgba(119, 119, 119, 0.25);
          box-shadow: 0px 2px 4px rgba(119, 119, 119, 0.25);
  border-radius: 5px;
}

.dashboard .main .top-menu > *:nth-child(1) {
  background: #25B7D3;
}

.dashboard .main .top-menu > *:nth-child(2) {
  background: #27AE60;
}

.dashboard .main .top-menu > *:nth-child(3) {
  background: #FFA34D;
}

.dashboard .main .top-menu > *:nth-child(4) {
  background: #c4c4c4;
}

.dashboard .main .top-menu > * i,
.dashboard .main .top-menu > * .ico {
  border-radius: 50%;
  padding: 10px;
  border: 1px solid #5B5D88;
  color: inherit;
}

.dashboard .main .top-menu .ico {
  height: 45px;
}

.dashboard .main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dashboard .main .content > * {
  margin: 1rem 10px;
}

.dashboard .main .content .charts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
}

.dashboard .main .content .charts .chart {
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
}

.dashboard .main .content .charts .chart > * {
  position: absolute;
  top: 50%;
}

.dashboard .main .content .card-container {
  width: 30%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  font-weight: bold;
}

.dashboard .main .content .card-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border: none;
  border-radius: inherit;
  border: 1px solid #ffffff;
  overflow-x: hidden;
  -webkit-box-shadow: 0px 0px 4px rgba(119, 119, 119, 0.25);
          box-shadow: 0px 0px 4px rgba(119, 119, 119, 0.25);
}

.dashboard .main .content .card-container .card .top-right {
  position: absolute;
  top: 0;
  width: 100;
  right: 0;
}

.dashboard .main .content .card-container .card .bottom-left {
  position: absolute;
  bottom: 0;
  width: 100;
  left: 0;
}

.dashboard .main .content .card-container .card .dp {
  margin: 5rem auto;
}

.dashboard .main .content .card-container .card .master {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */